name: Build and Release Windows Executable

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Extract version from tag
        id: get_version
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build Windows executable
        run: |
          GOOS=windows GOARCH=amd64 go build -o patreon-pledge-parser-${VERSION}.exe ./src/main.go

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: patreon-pledge-parser-${{ env.VERSION }}.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}